
#contenedor {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 20px;
    }

    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      width: 150px;
    }

    img {
      width: 100px;
    }

    button {
      margin: 10px;
      padding: 8px 15px;
      cursor: pointer;
      background-color: orange;
      border-radius: 8px;
    }

    button:hover{
        cursor: pointer;
    }